@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />

<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btngetlistbyid" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btndeletwriter" class="btn btn-outline-danger">Yazar Sil</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Yazar Güncelle</button>
<br />
<br />

<div id="writerslist">
    Buraya Yazarlar Gelecek
</div>
<br />
<div id="writerget">
    Buraya 1 yazar gelecek
</div>
<div>
    <input type="text" id="writerid" placeholder="Yazar Id Değerini Girin" class="form-control" />
</div>
<br />
<h1>Yazar Ekle</h1>
<div>
    <input type="text" class="form-control" id="txtwriterid" placeholder="Yazar Id" />
    <br />
    <input type="text" class="form-control" id="txtwritername" placeholder="Yazar Adı" />

</div>
<h1>Yazar Sil</h1>
<div>
    <input type="text" id="deletewriterId" placeholder="Silinecek Yazar Id " class="form-control" />
</div>
<h1>Yazar Güncelle</h1>
<div>
    <input type="text" class="form-control" id="txtupdatedwriterid" placeholder="Güncellenecek Yazar Id" />
    <br />
    <input type="text" class="form-control" id="txtupdatedwritername" placeholder="Güncellenecek Yazar Adı" />
</div>

@section scripts{
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<table class= table table-bordered> <tr> <th>Yazar Id</th> <th> Yazar Adı </th> </tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.Id}</td> <td>${value.Name}</td></tr>`;
                    });
                    tablehtml += "</table>";
                    $("#writerslist").html(tablehtml);
                }
            })
        })

        $("#btngetlistbyid").click(x => {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetWriterById",
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);

                    let getvalue = `<table class=table table-bordered> <tr> <th>Yazar Id</th><th>Yazar Adı</th>  </tr>  <tr> <td>${w.Id}</td><td>${w.Name}</td>  </tr> </table>`
                    $("#writerget").html(getvalue);
                }
            })
            console.log(id);
        });

        $("#btnaddwriter").click(function () {
            let writer = {
                Id: $("#txtwriterid").val(),
                Name: $("#txtwritername").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Yazar Eklendi");
                }
            });
        });

        $("#btndeletwriter").click(function () {
            let id = $("#deletewriterId").val();

            $.ajax({
                type: "post",
                url: "/Admin/Writer/DeleteWriter/" + id,
                dataType: "json",
                success: function (writer) {
                    alert("Yazar Silindi");
                }
                
            });
        });

        $("#btnupdatewriter").click(function () {
            let writer = {
                Id: $("#txtupdatedwriterid").val(),
                Name: $("#txtupdatedwritername").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Yazar Güncellendi");
                }
            });
        });

    </script>
}


