<div class="tech-btm">
    <img src="~/template/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
     <h4>Mail Bültenine Abone Ol</h4>
    <p>Dizi haberleri, Magazin, Yazılıım ve Teknoloji ayrı kategorileriyle blog sitesine abone olup her şeyden haberiniz olsun. </p>
    <form method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>