<div class="tech-btm">
    <img src="~/template/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
     <h4>Mail Alanı</h4>
    <p>Burası mail alanıdır lo lo lo </p>
    <form action="#" method="post">
        <input type="email" placeholder="Email" required="">
        <input type="submit" value="Subscribe">
    </form>

</div>