@model BloggersWebSite.Models.Class1

@{
    ViewData["Title"] = "DeleteEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Çalışanı Sil</h1>

<p>Çalışanı silmek istiyor musunuz?</p>
<dl class="row">
    <dt class="col-sm-2">
        Id:
    </dt>
    <dd class="col-sm-10">
        @Model.Id
    </dd>
    <dt class="col-sm-2">
        İsim:
    </dt>
    <dd class="col-sm-10">
        @Model.Name
    </dd>
</dl>

<form method="post">
    <input type="submit" value="Evet, Sil" class="btn btn-danger" />
    <a href="@Url.Action("Index", "EmployeeTest")" class="btn btn-primary">Hayır, İptal</a>
</form>
