<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">HAKKIMIZDA</h1>

                <h3 class="font-bold no-margins">
                    ASP.NET CORE 5.0
                </h3>
                <small>Admin işlemleri. Sidebarı destek için kullanabilirsiniz.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h2 class="m-xs">Son Eklenen Blog</h2>
                <a href="//">
                    <h2 class="font-bold no-margins">
                        @ViewBag.v1
                    </h2>
                </a>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Kategoriler</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.v2 
                </h3>
                <small>Sales marketing.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
