@using EntityLayer.Concrete;
@model List<Blog>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Son Bloglar</h4>
                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th> Başlık </th>
                                <th> Kategori </th>
                                <th> Son Güncelleme </th>
                                <th> Durum</th>
                                <th> Detaylar</th>

                            </tr>
                        </thead>
                        @foreach (var blog in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="@blog.BlogImage" class="mr-2" alt="image">@blog.BlogTitle
                                    </td>
                                    <td>
                                        <label class="badge badge-gradient-success">@blog.Category.CategoryName</label>
                                    </td>
                                    <td> @(((DateTime)blog.CreatedDate).ToString("dd-MMMM-yyyy")) </td>

                                    <td>
                                        @if (blog.BlogStatus)
                                        {
                                            <span class="badge badge-gradient-success">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-gradient-danger">Pasif</span>
                                        }
                                    </td>

                                    <td>
                                        <a href="/Blog/BlogReadAll/@blog.BlogId" class="btn btn-behance">Detaylar</a>
                                    </td>
                                </tr>

                            </tbody>
                        }
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>